streamlit
langchain-openai
langchain==0.3.7
InstructorEmbedding
sentence-transformers==2.2.2
langchain-community
azure-search-documents==11.4.0
azure-identity
python-dotenv
flashrank
llama-cpp-python==0.1.48
